@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-noto-serif-kr);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-serif-kr), serif;
}
